* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color-scheme: light dark;
  color: #555;
  background-color: rgba(255, 255, 255, 0.87);
  font-size: 400;
  line-height: 1;
  overflow-x: hidden;
  position: relative;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); */
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /*  */
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

a {
  text-decoration: none;
}

.to-top {
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  padding: 0.8rem 1.6rem;
}
